body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #71C9CE;
    position: relative;
    padding-top: 100px;
}

.myName {
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

.myProfession {
    font-family: 'Montserrat', sans-serif;
}

.area {
    text-decoration: underline;
}

.cloud-top {
    position: absolute;
    top: 50px;
    right: 300px;
}

.cloud-bottom {
    position: absolute;
    bottom: 300px;
    left: 300px
}