body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    text-align: center;
    background-color: #E2F8F6;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

.area {
    text-decoration: underline;
}

.cloud-top {
    position: absolute;
    top: 50px;
    right: 300px;
}

.cloud-bottom {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.profile img {
    width: 256px;
    border-radius: 50%;
}

.skill {
    width: 128px;
}