body {
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.top-container {
    background-color: #E2F8F6;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 50px;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.area {
    text-decoration: underline;
}

.cloud-top {
    position: absolute;
    top: 50px;
    right: 300px;
}

.cloud-bottom {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.profile img {
    width: 256px;
    border-radius: 50%;
}

.skill {
    width: 128px;
}